.all-container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
        padding: 10px;
        background: linear-gradient(0deg, #fff, #eae6ff 100%);
    }
}