.all-container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .app-header {
        height: $header-height;
    }

    main {
        flex-grow: 1;
        padding: 30px 10px  ;
        background: linear-gradient(0deg, #fff, #eae6ff 100%);
    }
}