.all-container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .app-header {
        height: $header-height;
    }

    .app-footer {
        height: $footer-height;
    }

    main {
        flex-grow: 1;
        padding: 30px 10px;
    }
}