// Colors
$clr1: #ebecf0;
$clr2: #3e4142;

// LAYOUT
$layoutPadding: 20px;

// Breakpoints
$break-narrow: 460px;
$break-normal: 640px;
$break-wide: 960px;

// Header Footer Height
$header-height: 60px;
$footer-height: 100px;