.ads {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    // background-color: rgb(162, 150, 150);
    border: 1px gray solid;

    >* {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        height: 70px;
        padding: 0 20px;
        border-bottom: 1px gray solid;
    }

    >:first-child {
        background-color: lightgray;

        >* {
            font-weight: 700;
            cursor: pointer;
        }
        .count-container {
            width: 100px;
        }
    }

}