.app-home {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
    // max-width: 500px;
    // min-width: 250px;

    .txt-container {
        max-width: 500px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        >* {
            text-align: center;
        }

        p {
            width: 100%;
            margin: 0;
            padding: 0;
            margin-bottom: 10px;
            font-size: 1rem;
        }

        .link-container {
            button {
                width: 100px;
                padding: 0;
                margin: 0;
                font-weight: 700;

            }
        }

    }


    .img-container {
        max-width: 500px;

        img {
            width: 100%;
            border-radius: 5px;
        }
    }
}