.app-header {
    height: 100%;
    padding: 0 10px;
    background-color: $clr2;
    color: $clr1;
    justify-content: start;
    align-items: center;

    >* {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav {
        display: flex;
        gap: 10px;

        >* {
            min-width: 50px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.5s ease;
            font-weight: 700;

            &:hover {
                background-color: lighten($color: $clr2, $amount: 20%);
            }

            &.selected {
                color: lightgreen;

            }
        }
    }

    .title-container {
        font-size: 1.1em;
        font-family: mochiy;
    }

}