.domain-header {
    background-color: $clr2;
    color: $clr1;
    padding: 10px 10px;
    min-height: 50px;
    border-radius: 3px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    font-size: 1.1em;
    flex-wrap: wrap;
    gap: 20px;

    >* {
        span {
            font-weight: 700;
            margin-inline-start: 5px;
        }
    }
}