.domain-header {
    background-color: lightblue;
    padding: 0 10px;
    height: 30px;
    border-radius: 3px;
    margin-bottom: 20px;

    >* {
        span {
            font-weight: 700;
            margin-inline-start: 5px;
        }
    }
}