.search-ads {
    width: 25%;
    min-width: 250px;
}

.search-domain {
    width: 100%;
}

.search-domain,
.search-ads {
    form {
        background-color: white;
        box-shadow: -1px 0px 4px 0px rgb(9 30 66 / 25%);
        align-items: center;
        padding-inline-start: 10px;

        input {
            box-shadow: none;
        }
    }
}

.form-container {
    margin-bottom: 20px;
}