.search-ads {
    width: 25%;
    min-width: 100px;
}

.search-adomainds {
    width: 100%;
}

.search-domain,
.search-ads {
    form {
        background-color: white;
        box-shadow: 0 1px 0 #091e4240;
        align-items: center;
        padding-inline-start: 10px;

        input {
            box-shadow: none;
        }
    }
}

.form-container {
    margin-bottom: 20px;
}